@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Overpass", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  margin: 0px;
}

section {
  background-color: white;
}

.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}
.copyright p {
  font-size: 1rem;
}
.copyright span {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 100px;
  margin: 20px 30px 30px 30px;
}
.social {
  margin: 20px;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 20px;
  width: 250px;
  border-radius: 25px;
  padding: 0px 10px 10px 10px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}
footer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-container {
  display: flex;
  align-items: center;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid rgba(128,128,128,0.2);
  margin-top: 5px;
}
textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Overpass", sans-serif;
  background-color: #a9a9a9;
  color: #fff;
  margin-top: 10px;
}
button[type="submit"]:hover {
  background-color: #808080;
  transition: background-color ease .3s;
}
#status {
  width: 90%;
  max-width: 350px;
  text-align: center; 
  padding: 10px; 
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
  color: #000;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: #fff;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}
